extends ../layouts/main.pug

block title
    title Contact Page

block content
    div(class="container about-page")
        div(class="content-box")
            div(class="row")
                div(class="col-md-8")
                    h1 Contact Page            
                    p. 
                        Neutra pok pok schlitz photo booth fingerstache man braid keffiyeh polaroid semiotics. Prism DIY chartreuse, drinking vinegar authentic letterpress umami four loko brooklyn narwhal pinterest craft beer next level sustainable. Pabst trust fund brooklyn whatever, iceland man bun locavore deep v etsy PBR&B small batch subway tile mixtape. Poke tacos typewriter polaroid, health goth shaman coloring book venmo narwhal helvetica twee. Kale chips butcher chambray woke intelligentsia, banjo swag wayfarers offal mustache jean shorts hella pabst coloring book tumeric. Air plant ethical four
                div(class="col-md-4")  
                        img(src="/img/31031203.png")