extends ../layouts/main.pug

block title
    title HomePage

block content
    section(class="top-header") 
        div(class="top-left") 
            h1 Web Developer
        div(class="top-right")
            img(src="/img/computer.png")
    section(class="blog") 
        div(class="post")
        div(class="post")
        div(class="post")
        div(class="post")
        div(class="post")
        div(class="post")