.content-area {
    .about-page{
        h1 {
            font-size: 2rem;
            font-family: $displayFont;
            margin: 2rem 0; 
        }
        img {
            border-radius: 50%; 
        }
    }
}