@import "reset";
@import "variables";
@import "home"; 
@import "grid"; 
@import "about";
@import "global";

* {
    font-family: $mainFont;
    box-sizing: border-box;
}

body {
    overflow: hidden; 
    background: $bodyBG; 
}

header {
    background: $headerBG;
    overflow: auto; 
    padding: 15px 20px; 
    position: fixed; 
    width: 100%; 
   
    .logo {
        background:$displayFont; 
        font-size: 1.2rem;
        color: white; 
        display: inline-block;       
    }
    .menu{
        display: inline-block;
        float: right; 
      
        ul {
            li {
                display: inline-block;
               padding: 0 10px; 
               align-items: center;
                a {
                    font-family: $mainFont;
                    color: white; 
                    font-size: 1.2rem; 
                }
             
            }
        }
    } 
}

